# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/scripts/button_presses.csv
server/scripts/serviceAccountKey.json
server/scripts/button_presses.csv
server/scripts/gas_station_events
server/scripts/gas_station_events.csv
server/scripts/rounds.csv
server/scripts/sessions.csv
server/scripts/tutorial_quizzes.csv
server/scripts/tutorial_slides.csv
server/scripts/tab_events.csv
server/.env
server/src/firebase.jsx
server/scripts/exportFirestore.js