# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
scripts/serviceAccountKey.json
scripts/button_presses.csv
scripts/gas_station_events
scripts/gas_station_events.csv
scripts/rounds.csv
scripts/sessions.csv
scripts/tutorial_quizzes.csv
scripts/tutorial_slides.csv
.env
src/firebase.jsx

